* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

header, 
main,
footer {
    text-align: center;
    background-color: black;
}

h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    padding-top: 2rem;
    margin-top: 2rem;
}

h2 {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    margin: 2rem;
}

a {
    color: aquamarine;
    font-size: 16px;
}

video {
    margin-bottom: 1.5rem;
}

.secondary-text {
    font-size: 21px;
    color: gray;
}

.copyright {
    text-align: end;
    padding-right: 0.5rem;
}